/.kateproject.d/notes.txt
/.kateproject
/.directory
Makefile*
*~
bin
build
*kde*
Doxy*
qgit4.tag
Debug/
Release/
*.ncb
*.suo
*.vcproj.*
moc_*.cpp
qrc_*.cpp
ui_*.h
qgit.pro.*
qgit.qbs.*
src/release
.qmake.stash
.DS_Store
src/qmake*
